<div class="col flex-column d-flex align-items-center justify-content-center" style="height: 280px">
    <div class="d-inline-block align-middle losange_icon" style="background-image: url('{{ url_icon }}')">
    </div>
    <div class="d-inline-block d-flex flex-column" style="z-index: 2; position: relative; bottom: 38px;">
        <span class="text-uppercase text-center spanBanner" style="width: 300px; background-image: url('{{ asset('assets/images/banner.png') }}')">{{ text }}</span>
    </div>
</div>