<div class="col flex-column d-flex align-items-center justify-content-center" style="height: 280px">
    <div class="d-inline-block align-middle losange_image" style="background-image: url('{{ url_image }}')">
    </div>
</div>