<div class="row">

    <div class="col-sm-12 col-md d-flex flex-column">
        <h3 class="display4">
            ACE-Service : Intervention pour les urgences de vitrerie et ouvertures sur les Départements 37 & 41
        </h3>
        <hr>
        <p>
            Une vitre brisée? Une vitrine félée?<br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet at aut consequatur dolores eos, illo impedit in incidunt inventore laudantium maiores natus numquam praesentium qui sit soluta totam vero?<br>
            Pas de panique ! Notre équipe ...
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad adipisci aperiam debitis, deserunt ducimus eaque facere illum iste laborum magnam modi pariatur provident, quas quia quos ratione reiciendis reprehenderit?
        </p>
        <p class="text-center">
            <a href="{{ path('vitrerie') }}" class="btn btn-light btn_red" role="button">dépannage vitrerie</a>
        </p>

    </div>


    <div class="col-sm-12 col-md">
        {% include 'components/losanges/images.html.twig' with {'url_image': img2} %}
        <p class="text-center text-danger"><strong>Crédit d'impôt</strong> pour tous les nouveaux travaux d'isolation de votre habitat.</p>
        <div class="card bg-danger">
            <div class="card-body text-white">
                Nous vous proposons des devis, la pose et le dépannage pour les contrôles d’accès (bandeau ventouse, gâche et serrure électrique, digicode)
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md d-flex flex-column">
        <h3 class="display4">
            ACE-Service : Fenetres, volets, ouvertures, serrurerie sur Départements 37 & 41
        </h3>
        <hr>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at aut beatae cupiditate eligendi eum in laborum neque, porro quia quisquam, repellat rerum tempora! Dolore eius illo laudantium libero nulla!
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at aut beatae cupiditate eligendi eum in laborum neque, porro quia quisquam, repellat rerum tempora! Dolore eius illo laudantium libero nulla!
            <br>
        </p>
        <p class="text-center">
            <a href="{{ path('vitrerie') }}" class="btn btn-light btn_red" role="button">dépannage vitrerie</a>
        </p>
    </div>
</div>