<div class="container">
    <div class="row">
        <div class="owl-carousel">
            <div class="card">
                <img src="https://fakeimg.pl/250x100/?text=Fournisseur1" class="card-img-top" alt="...">
            </div>

            <div class="card">
                <img src="https://fakeimg.pl/250x100/?text=Fournisseur2" class="card-img-top" alt="...">
            </div>

            <div class="card">
                <img src="https://fakeimg.pl/250x100/?text=Fournisseur3" class="card-img-top" alt="...">
            </div>

            <div class="card">
                <img src="https://fakeimg.pl/250x100/?text=Fournisseur4" class="card-img-top" alt="...">
            </div>

            <div class="card">
                <img src="https://fakeimg.pl/250x100/?text=Fournisseur5" class="card-img-top" alt="...">
            </div>

            <div class="card">
                <img src="https://fakeimg.pl/250x100/?text=Fournisseur6" class="card-img-top" alt="...">
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <p class="display-4 text-center">Quelques réalisations</p>
        </div>

    </div>

    <div class="row">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/1)"></div>
                <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/2)"></div>
                <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/3)"></div>
                <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/4)"></div>
                <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/5)"></div>
                <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/6)"></div>
                <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/7)"></div>
                <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/8)"></div>
                <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/9)"></div>
                <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/10)"></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>


</div>
